.alert {
    border: 1px solid #ccc;
    padding: 6px;
}

.alert-info {
    background-color: #d9ed7f;
}

.alert-success {
    background-color: #dff0d8;
}

.alert-warning {
    background-color: #fcf8e3;
}

ul li {
    display:inline-block;
    cursor:pointer;
}

.modal-container {
    background: rgba(0,0,0,0.5);
    display: none;
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
}

.modal-enabled .modal-container {
    display:block;
}

.modal {
    z-index:6000;
    background-color: #fff;
    border-radius: 4px;
    max-width: 500px;
    margin: 0 auto;
}

.modal-enabled {
    overflow:hidden;
}

.close-modal {
    float:right;
    cursor:pointer;
}