{% for message in messages %}
<div data-user-id="">
    <div>
    <span class="close-modal">x</span>
    </div>
    <br>
    <br>
<div>
    {{ message.username }}
</div>
    <div>
        {{ message.message }}
    </div>
</div>
    <br>
    <br>
{% endfor %}